<h1>Login</h1>
<%= form_tag(session_path) do %>
  <%= label_tag(:email) do %>
    Email
    <%= text_field_tag(:email) %>
  <% end %>
  <%= label_tag(:password) do %>
    Password
    <%= password_field_tag(:password) %>
  <% end %>
  <%= submit_tag('Login') %>
<% end %>