<%= form_tag session_path do %>
  <div class="field">
    <%= label_tag do %>
      Username
      <%= text_field_tag :username %>
    <% end %>
  </div>

  <div class="field">
    <%= label_tag do %>
      Password
      <%= password_field_tag :password %>
    <% end %>
  </div>

  <div class="field">
    <%= submit_tag "Log In" %>
  </div>
<% end %>
